.sign-in__method {
  .v-btn {
    color: var(--purple-accent-1);
    height: 38px;
    border-color: var(--blue-grey-lighten-4);
    &__content {
      color: var(--bs-black);
      font-size: 16px;
      font-weight: 600;
    }
    &__loader {
      color: var(--purple-accent-3);
    }
  }
}
.btn-primary--flat {
  .v-btn {
    height: 38px;
    &__content {
      font-size: 16px;
    }
  }
}
.btn-primary--outlined {
  .v-btn {
    height: 38px;
    &__content {
      font-size: 16px;
    }
  }
}
.btn--circle-38px {
  height: 38px !important;
  width: 38px !important;
}
// Reset
.v-btn {
  letter-spacing: normal;
}
.btn-sign-out-modal {
  color: var(--bs-black);
  svg {
    fill: var(--bs-black);
  }
  &:hover {
    background-color: rgba(101, 31, 255, 0.06);
    color: rgba(101, 31, 255);
    cursor: pointer;
    transition: 0.4s;
    svg {
      fill: rgba(101, 31, 255);
      transition: 0.4s;
    }
  }
}
