/**
 * assets/scss/color-variable-vuetify.scss
 *
 * Color list documentation: https://vuetifyjs.com/en/styles/colors/
 */
:root {
  --purple-accent-1: #ea80fc;
  --purple-accent-2: #e040fb;
  --purple-accent-3: #d500f9;
  --purple-accent-4: #aa00ff;
  --grey: #9e9e9e;
  --grey-lighten-4: #f5f5f5;
  --blue-grey-lighten-1: #78909c;
  --blue-grey-lighten-2: #90a4ae;
  --blue-grey-lighten-3: #b0bec5;
  --blue-grey-lighten-4: #cfd8dc;
  --grey-lighten-3: #eeeeee;
  --grey-lighten-2: #e0e0e0;
  --light-blue-lighten-5: #e1f5fe;
}
