@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Quicksand', sans-serif !important;
}
.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: 12px;
}
